* {
    font-family: 'Cairo', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: #4ade80 !important;
}

.swiper-pagination-bullet-active {
    background: #4ade80 !important;
}

[x-cloak] {
    display: none !important;
}